.main__container {
  height: 48px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 2px 4px;
  margin: 20px;
}
.arrow {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow__container {
  height: 25px;
  width: 25px;
  border: 1px solid black;
  border-radius: 2rem;
  background-color: #474747;

  display: flex;
  justify-content: center;
  align-items: center;
}

.normal__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.help {
  min-width: 6%;
  padding: 0 4px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media all and (min-width: 578px) {
  .arrow__container {
    display: none;
  }
}

@media all and (max-width: 578px) {
  .normal__container {
    display: none;
  }
}
