:root {
  /* Global variables to be defined here */
  /* --color-white: #ffffff; */

  --color-white: #ffffff;
  --color-black: #0a0a0a;
  --color-discount: #006642;
  --color-pumpkin-bg: #fff7ed;
  --color-pumpkin: #7f2d0f;
  --color-secure: #1733b6;
  --color-klarna: #feb4c7;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
