.main__container {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.charges__container {
  margin: 4px 0;
  width: 100%;
}

.checkout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 0;
}
.checkout2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 0;
  color: #006642;
}
.total__container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.warning__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  border-radius: 0.8rem;
  background-color: #d3d3d3;
  padding: 8px 4px;
}
